@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body-menu {
  height: 100vh;
}

body-menu {
  font: 14px/1 'Open Sans', sans-serif;
  color: #000;
  background: #eee;
}

p-1 {
  margin: 0 0 20px;
  padding-left: 30px;
  line-height: 1.5;
}

section-menu {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #fff;
  background: #fff;
}

input {
  background-color: black;
  display: none;
}

label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 15px 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: black;
  border: 1px solid transparent;
}

label:before {
  font-family: fontawesome;
  font-weight: bold;
  visibility: hidden;
}

label:hover {
  background-color: #4286f4;
  color: black;
  cursor: pointer;
}

input:checked + label {
  background-color: #4286f4;
  color: white;
  border: 1px solid #4286f4;
  border-top: 2px solid black;
  border-bottom: 1px solid #4286f4;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

.feature-wrap-o i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #4286f4;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap-o i:hover {
  background: #4286f4;
  color: #fff;
  box-shadow: inset 0 0 0 5px #4286f4;
  -webkit-box-shadow: inset 0 0 0 5px #4286f4;
  border: 3px solid #4286f4;
}

.feature-wrap-i i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: #f4427d;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap-i i:hover {
  background: #f4427d;
  color: #fff;
  box-shadow: inset 0 0 0 5px #f4427d;
  -webkit-box-shadow: inset 0 0 0 5px #f4427d;
  border: 3px solid #f4427d;
}

.feature-wrap-y i{
  font-size: 48px;
  height: 110px;
  width: 110px;
  margin: 3px;
  border-radius: 100%;
  line-height: 110px;
  text-align:center;
  background: #ffffff;
  color: yellow;
  border: 3px solid #ffffff;
  box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-box-shadow: inset 0 0 0 5px #f2f2f2;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  float: left;
  margin-right: 25px;
}

.feature-wrap-y i:hover {
  background: yellow;
  color: #fff;
  box-shadow: inset 0 0 0 5px yellow;
  -webkit-box-shadow: inset 0 0 0 5px yellow;
  border: 3px solid yellow;
}

.container {
  margin-top: 20px;
  padding-top : 1px;
  padding-bottom : 20px;
  background-color: #eee;
}
